:root {
  --header-height: 86px;
  --footer-height: 128px;
  --album-row-height: 100px;
}

.search-result {
  background-color: yellow;
  font-weight: bold;
}

.active-track {
  color: red;
  font-weight: bold;
}

body {
  overflow: hidden;
}

.fullscreen-content {
  height: calc(100vh - 86px - 128px);
}

@media screen and (min-height: 920px) and (max-height: 1000px) {
  .fullscreen-content {
    padding-bottom: 64px;
  }
}
.header {
  height: 86px;
  background-color: steelblue;
  color: ghostwhite;
}

.footer {
  height: 128px;
  background-color: steelblue;
  color: ghostwhite;
}

#genre-content {
  width: calc(100% - 40px - 20px);
}

#anchor-parent {
  position: fixed;
  top: 86px;
  width: 40px;
  height: 100%;
  transform: translateX(20px);
}
@media screen and (max-width: 800px) {
  #anchor-parent {
    height: calc(100vh - 86px - 128px - 64px);
    font-size: 10pt;
  }
}
@media screen and (min-width: 800px) {
  #anchor-parent {
    height: calc(100vh - 86px - 128px);
    font-size: 14pt;
  }
}
@media screen and (min-width: 800px) and (min-height: 1140px) {
  #anchor-parent {
    font-size: 16pt;
  }
}

#anchor-content {
  height: 100%;
}

.footer-artwork-padding, .footer-artwork {
  width: 100px;
  height: 100px;
}

.footer-artwork-padding {
  background-color: lightslategrey;
}

.footer-button {
  color: ghostwhite;
}

.volume-slider:focus::-webkit-slider-thumb {
  background-clip: initial;
  border: none;
  transform: none;
}
.volume-slider::-webkit-slider-thumb {
  background-clip: padding-box;
  border: 0.4rem solid transparent;
  transform: scale(4);
}
.volume-slider:focus::-moz-range-thumb {
  background-clip: initial;
  border: none;
  box-sizing: initial;
  transform: none;
}
.volume-slider::-moz-range-thumb {
  background-clip: padding-box;
  border: 0.4rem solid transparent;
  box-sizing: border-box;
  transform: scale(4);
}

button.undecorated {
  background-color: inherit;
  border: none;
}

.queue-button-h-100 {
  height: 98px;
}

.queue-button:active i {
  color: red;
  padding-top: 8px;
  margin-left: 2px;
}

.album-row {
  height: 100px;
}

.single-content-position {
  top: 38.2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.div-row-hover:hover {
  background-color: lightgray !important;
}

.div-row-hover:hover a {
  color: var(--bs-link-hover-color) !important;
}

.table-artwork-and-description tr:nth-child(odd) {
  background-color: white;
}

.table-artwork-and-description tr:nth-child(even) {
  background-color: whitesmoke;
}

.table-artwork-and-description td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.table-artwork-and-description td:nth-of-type(1) {
  padding-left: 12px;
  padding-right: 12px;
  width: 124px;
}

.table-artwork-description-and-queue-button tr:nth-child(odd) {
  background-color: white;
}

.table-artwork-description-and-queue-button tr:nth-child(even) {
  background-color: whitesmoke;
}

.table-artwork-description-and-queue-button td {
  padding-top: 8px;
  padding-bottom: 8px;
}

.table-artwork-description-and-queue-button td:nth-of-type(1) {
  padding-left: 12px;
  padding-right: 12px;
  width: 124px;
}

.table-artwork-description-and-queue-button td:nth-of-type(2) {
  width: calc(100% - 124px - 48px);
}

.table-artwork-description-and-queue-button td:nth-last-of-type(1) {
  width: 48px;
}

.table-row-odd {
  background-color: white;
}

.table-row-even {
  background-color: whitesmoke;
}

.table-row-subheading {
  background-color: color-mix(in srgb, steelblue, var(--bs-body-bg));
}

.stretched-link, .stretched-link:focus, .stretched-link:hover, .stretched-link:active, .stretched-link:focus-visible {
  box-shadow: none;
  outline: none;
  border: none;
  transition: none;
}

.stretched-link:focus-visible ~ .stretched-link-clickable, .stretched-link-clickable:focus, .stretched-link-clickable:focus-visible {
  box-shadow: 0px 0px 0px 2px var(--bs-body-color);
}

a.lineawesomelink, a.lineawesomelink:hover, a.lineawesomelink:visited, a.lineawesomelink:active {
  color: inherit;
  text-decoration: none;
}

.toggle-handle, .toggle-handle:hover {
  background-color: ghostwhite !important;
}

.toggle.btn-default {
  border-color: ghostwhite !important;
  color: ghostwhite !important;
}

.marquee-fast .marquee-2elt, .marquee-slow .marquee-2elt, .marquee-fast .marquee-3elt, .marquee-slow .marquee-3elt {
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5px;
}
.marquee-fast .marquee-2elt div, .marquee-slow .marquee-2elt div, .marquee-fast .marquee-3elt div, .marquee-slow .marquee-3elt div {
  position: absolute;
  min-width: 100%;
  height: 100%;
  margin: 0;
  transform: translateX(100%);
  white-space: nowrap;
  text-align: center;
}

.marquee-1elt {
  margin-top: 5px;
}

.marquee-fast .marquee-2elt div:nth-child(1) {
  animation: marquee-fast-2elt-1 12s ease infinite;
}
.marquee-fast .marquee-2elt div:nth-child(2) {
  animation: marquee-fast-2elt-2 12s ease infinite;
}

@keyframes marquee-fast-2elt-1 {
  /* 0 */
  0% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 4 */
  33% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 6 */
  50% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 7 */
  58% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 9 */
  75% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 10 */
  83% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  100% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
}
@keyframes marquee-fast-2elt-2 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 3 */
  25% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 4 */
  33% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 6 */
  50% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 10 */
  83% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  100% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
}
.marquee-slow .marquee-2elt div:nth-child(1) {
  animation: marquee-slow-2elt-1 16s ease infinite;
}
.marquee-slow .marquee-2elt div:nth-child(2) {
  animation: marquee-slow-2elt-2 16s ease infinite;
}

@keyframes marquee-slow-2elt-1 {
  /* 0 */
  0% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 4 */
  25% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 8 */
  50% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 9 */
  56% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 11 */
  69% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 12 */
  75% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 16 */
  100% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
}
@keyframes marquee-slow-2elt-2 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 3 */
  19% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 4 */
  25% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 8 */
  50% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  75% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 16 */
  100% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
}
.marquee-fast .marquee-3elt div:nth-child(1) {
  animation: marquee-fast-3elt-1 18s ease infinite;
}
.marquee-fast .marquee-3elt div:nth-child(2) {
  animation: marquee-fast-3elt-2 18s ease infinite;
}
.marquee-fast .marquee-3elt div:nth-child(3) {
  animation: marquee-fast-3elt-3 18s ease infinite;
}

@keyframes marquee-fast-3elt-1 {
  /* 0 */
  0% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 4 */
  22% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 6 */
  33% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 7 */
  39% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 15 */
  83% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 16 */
  89% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 18 */
  100% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
}
@keyframes marquee-fast-3elt-2 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 3 */
  17% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 4 */
  22% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 6 */
  33% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 10 */
  56% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  67% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 13 */
  72% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 18 */
  100% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
}
@keyframes marquee-fast-3elt-3 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 9 */
  50% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 10 */
  56% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  67% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 16 */
  89% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 18 */
  100% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
}
.marquee-slow .marquee-3elt div:nth-child(1) {
  animation: marquee-slow-3elt-1 24s ease infinite;
}
.marquee-slow .marquee-3elt div:nth-child(2) {
  animation: marquee-slow-3elt-2 24s ease infinite;
}
.marquee-slow .marquee-3elt div:nth-child(3) {
  animation: marquee-slow-3elt-3 24s ease infinite;
}

@keyframes marquee-slow-3elt-1 {
  /* 0 */
  0% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 4 */
  17% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 8 */
  33% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 9 */
  38% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 19 */
  79% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 20 */
  83% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 24 */
  100% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
}
@keyframes marquee-slow-3elt-2 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 3 */
  12% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 4 */
  17% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 8 */
  33% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 12 */
  50% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 16 */
  67% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 17 */
  71% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 24 */
  100% {
    transform: translateX(-100%);
    opacity: 0;
    background-color: steelblue;
  }
}
@keyframes marquee-slow-3elt-3 {
  /* 0 */
  0% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 11 */
  46% {
    transform: translateX(100%);
    opacity: 0;
    background-color: steelblue;
  }
  /* 12 */
  50% {
    transform: translateX(100%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 16 */
  67% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 20 */
  83% {
    transform: translateX(0%);
    opacity: 1;
    background-color: steelblue;
  }
  /* 24 */
  100% {
    transform: translateX(-100%);
    opacity: 1;
    background-color: steelblue;
  }
}

/*# sourceMappingURL=pijuwebui-light.css.map */
