{% set header_links=[("/", "PiJu"), ("/admin/", "Admin")] %}
{% extends "base.html" %}

{% block content %}

{% for label, action, extra in [ ("Empty UI cache", "empty_cache", ""), ("Check for updates", "check_for_updates", check_for_updates_result) ] %}
<div class="row row-cols-1 text-center my-5">
    <div class="col">
        <form action="/admin/{{action}}" method="post">
            <button class="btn btn-primary btn-lg" name="{{action}}" value="{{action}}">{{label}}</button>
            <p>{{extra}}</p>
        </form>
    </div>
</div>
{% endfor %}

{% endblock %}
