{% set header_links=[("/", "PiJu")] +
                   ([("/genre/"+album.genre_name, album.genre_name)] if album.genre_name else []) +
                    [("/artists/"+album.artist, album.artist) if album.artist else ("#", "Unknown Artist")] %}
{% extends "base.html" %}

{% block content %}
    <div class="w-100 row">
        <div class="col-3">
            {% if album.artwork_link %}
            <img src="{{server}}{{album.artwork_link}}" class="img-fluid my-2">
            {% endif %}
        </div>
        <div class="col align-middle my-auto">
            <h2 class="display-2">{{ album.title if album.title else "Unknown Album" }}</h2>
        </div>
        <div class="col-auto align-middle justify-content-end my-auto">
            <button type="button" class="btn border-0 p-0 mx-auto queue-button {{'' if remote_mode_enabled else 'd-none'}}" onclick="addTracksToQueue(playlistTrackIds)">
                <i class="las la-plus la-2x"></i>
            </button>
        </div>
    </div>
    <div class="d-block position-relative my-1">
        {% for track in album.tracks %}
        <div class="d-block">
            <div class="d-block position-relative div-row-hover py-2 align-middle {{"search-result" if to_highlight == track.id else loop.cycle("table-row-odd", "table-row-even")}}" id="track_{{track.id}}">
                <div class="d-inline-block position-relative" style="width: calc(100% - 60px)">
                    <div class="d-inline-block" style="width: 0px;">
                        <button onclick='playAlbum("{{album.id}}", "{{track.id}}", {{loop.index0}})' class="stretched-link btn btn-link"></button>
                    </div>
                    <div class="d-inline align-middle mx-1">
                        {%- if ((album.numberdisks and album.numberdisks > 1) or (not album.numberdisks)) and track.disknumber -%}
                        {{track.disknumber}}-
                        {%- endif -%}
                        {{track.tracknumber if track.tracknumber else ''}}
                    </div>
                    <div class="d-inline align-middle ms-2">
                        {{track.title}}
                        {%- if album.is_compilation -%}
                        <span class="fw-lighter"> ({{track.artist}})</span>
                        {%- endif -%}
                    </div>
                </div>
                <div class="d-inline-block position-absolute top-50 end-0 translate-middle-y text-body" style="width: 48px">
                    <button type="button" class="btn border-0 mx-auto queue-button {{'' if remote_mode_enabled else 'd-none'}}" onclick="addTrackToQueue({{track.id}})">
                        <i class="las la-plus"></i>
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <script>
        playlistTrackIds = [{{ album.tracks | map(attribute="id") | join(',')}}];
        playlistTrackIds = playlistTrackIds.map(x => x.toString());
    </script>
{% endblock %}
