{% set header_links=[("/", "PiJu"), ("/artists/"+html.escape(artist.name), artist.name)] %}
{% set title=artist.name %}

{% extends "base.html" %}

{% block content %}
<div class="w-100 row">
    <table class="table-artwork-and-description my-2">
    {% for album in artist.albums %}
    <tr class="album-row div-row-hover">
        <td onclick="redirectMouseEvent(event, $('#album-{{loop.index0}}-link')[0])">
            {% if album.artwork_link %}
            <img src="{{server}}{{album.artwork_link}}" class="img-fluid rounded float-left pr-4" width="100">
            {% else %}
            <div class="d-inline-block align-middle" style="width: 100px; height: 100px"></div>
            {% endif %}
        </td>
        <td onclick="redirectMouseEvent(event, $('#album-{{loop.index0}}-link')[0])">
            <a id="album-{{loop.index0}}-link" href="/albums/{{album.id}}">{{album.artist if album.artist else "Unknown Artist"}}: {{album.title if album.title else "Unknown Album"}}</a>  {{("(%u)" % album.year) if album.year else ""}}
        </td>
    </tr>
    {% endfor %}
</div>
{% endblock %}
