<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
        <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
        <title>PiJu</title>
        {% if theme == "dark" %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.2.3/dist/slate/bootstrap.min.css" integrity="sha256-VHeArc9kdO/1rwrV+DWV2nLoqS3ZLIb1KeUjmSK0HBE=" crossorigin="anonymous">
            <link rel="stylesheet" href="/static/pijuwebui-dark.css">
        {% else %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
            <link rel="stylesheet" href="/static/pijuwebui-light.css">
        {% endif %}
        <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
        <script type="text/javascript">
            server = "{{server}}";
        </script>
        <script src="/static/pijuwebui.js"></script>
        {% if redirect_to_front_screen %}
          {# Primarily for /admin/check_for_updates #}
          <meta content="5; url=/" http-equiv="refresh">
        {% endif %}
    </head>
    <body>
        {# header #}
        <div class="d-flex w-100 sticky-top header">
            <div class="d-flex container justify-content-between">
                <div class="d-inline-block">{# padding #}</div>
                <div class="d-inline-block display-3">{{make_header(header_links)|safe}}</div>
                <div class="d-inline-block">
                    <div class="d-flex align-items-center">
                        {% if include_random_toggle %}
                        <input id="random-toggle" type="checkbox" {{"checked" if random_enabled else ""}} data-toggle="toggle" data-on="Random" data-off="All">
                        {% endif %}
                        <a href="/search" class="lineawesomelink px-1"><i class="las la-search la-5x"></i></a>
                        <a href="/admin" class="lineawesomelink"><i class="las la-tools la-5x"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {# main content #}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {# now playing footer #}
        <div id="footer_nothing_playing" class="w-100 fixed-bottom footer"></div>
        <div id="footer_playing" class="d-flex w-100 fixed-bottom justify-content-evenly footer d-none">
            {# left #}
            <div class="my-auto position-relative">
                <div class="my-auto d-flex flex-nowrap">
                    <div class="my-auto">
                        <div id="now_playing_artwork_padding" class="my-auto mx-3 footer-artwork"></div>
                        <a id="now_playing_album_link" class="stretched-link" href="#"><img id="now_playing_artwork" class="my-auto img-fluid d-none mx-3 footer-artwork"></a>
                    </div>

                    <div class="my-auto">
                        <div id="now_playing_artist" class="fs-2"></div>
                        <div id="now_playing_track" class="fs-3"></div>
                    </div>
                </div>
            </div>

            {# right #}
            <div class="my-auto d-flex flex-nowrap">
                <button type="button" id="now_playing_pause" class="btn mx-3 d-none border-0" onclick="send_pause()">
                    <i class="las la-pause la-6x la-fw footer-button" aria-hidden="true"></i>
                </button>
                <button type="button" id="now_playing_resume" class="btn mx-3 d-none border-0" onclick="send_resume()">
                    <i class="las la-play la-6x la-fw footer-button" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </body>
</html>
