<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/b06f37c98e.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <title>PiJu</title>
        <link rel="stylesheet" href="/static/pijuwebui.css">
        </style>
        <script type="text/javascript">
            server = "{{server}}";
        </script>
        <script src="/static/pijuwebui.js"></script>
    </head>
    <body>
        {# header #}
        <div class="d-flex w-100 sticky-top display-3 header">
            <div class="mx-auto">{{make_header(header_links)|safe}}</div>
        </div>

        {# main content #}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {# now playing footer #}
        <div id="footer_nothing_playing" class="w-100 fixed-bottom footer"></div>
        <div id="footer_playing" class="d-flex w-100 fixed-bottom justify-content-evenly footer d-none">
            {# left #}
            <div class="my-auto d-flex flex-nowrap">
                <div class="my-auto">
                    <div id="now_playing_artwork_padding" class="my-auto mx-3 footer-artwork"></div>
                    <a id="now_playing_album_link" href="#"><img id="now_playing_artwork" class="my-auto img-fluid d-none mx-3 footer-artwork"></a>
                </div>

                <div class="my-auto">
                    <div id="now_playing_artist" class="fs-2"></div>
                    <div id="now_playing_track" class="fs-3"></div>
                </div>
            </div>

            {# right #}
            <div class="my-auto d-flex flex-nowrap">
                <button type="button" id="now_playing_pause" class="btn mx-3 d-none" onclick="send_pause()">
                    <i class="fa fa-pause fa-6x fa-fw footer-button" aria-hidden="true"></i>
                </button>
                <button type="button" id="now_playing_resume" class="btn mx-3 d-none" onclick="send_resume()">
                    <i class="fa fa-play fa-6x fa-fw footer-button" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </body>
</html>
