<!DOCTYPE html>
<html>
    <head>
        <script src="/static/ext/js/jquery-3.6.0.min.js"></script>
        <script src="/static/ext/js/popper.min.js"></script>
        <script src="/static/ext/js/bootstrap.min.js"></script>
        <script src="/static/ext/js/bootstrap-toggle.min.js"></script>
        <script src="/static/ext/js/js.cookie.min.js"></script>
        <script src="/static/howler.core.js"></script>
        <script src="/static/ext/jsdetect-it.umd.production.js"></script>
        <title>PiJu</title>
        {% if theme == "dark" %}
            <link rel="stylesheet" href="/static/ext/css/bootswatch_slate_bootstrap.min.css">
            <link rel="stylesheet" href="/static/pijuwebui-dark.css">
        {% else %}
            <link rel="stylesheet" href="/static/ext/css/bootstrap.min.css">
            <link rel="stylesheet" href="/static/pijuwebui-light.css">
        {% endif %}
        <link rel="stylesheet" href="/static/ext/css/bootstrap-toggle.min.css">
        <link rel="stylesheet" href="/static/ext/css/line-awesome.min.css">
        <script type="text/javascript">
            server = "{{server}}";
        </script>
        <script src="/static/pijuwebui.js"></script>
        {% if redirect_to_front_screen %}
          {# Primarily for /admin/check_for_updates #}
          <meta content="5; url=/" http-equiv="refresh">
        {% endif %}
    </head>
    <body>
        {# header #}
        <div class="d-flex w-100 sticky-top header">
            <div class="d-flex container justify-content-between">
                <div class="d-inline-block">
                    <a href="#" class="lineawesomelink" onclick="toggleMode()">
                        <i id="mode-indicator-remote" class="las la-volume-up la-5x {{'' if remote_mode_enabled else 'd-none'}}"></i>
                        <i id="mode-indicator-local" class="las la-headphones la-5x {{'d-none' if remote_mode_enabled else ''}}"></i>
                    </a>
                </div>

                {% if len(header_links) == 1 %}
                    {# eg home #}
                    <div class="d-inline-block display-3 marquee-1elt">{{make_header(header_links)|safe}}</div>
                {% elif len(header_links) == 2 %}
                    {# eg genre #}
                    <div class="d-inline-block display-3 marquee-2elt">
                        <div>{{make_header_component(*header_links[0])|safe}}</div>
                        <div>{{make_header_component(*header_links[1])|safe}}</div>
                    </div>
                {% elif len(header_links) == 3 %}
                    {# eg album #}
                    <div class="d-inline-block display-3 marquee-3elt">
                        <div>{{make_header_component(*header_links[0])|safe}}</div>
                        <div>{{make_header_component(*header_links[1])|safe}}</div>
                        <div>{{make_header_component(*header_links[2])|safe}}</div>
                    </div>
                {% else %}
                    <!-- unhandled header_links length -->
                    <div class="d-inline-block display-3">{{make_header(header_links)|safe}}</div>
                {% endif %}

                <div class="d-inline-block">
                    <div class="d-flex align-items-center">
                        {% if include_random_toggle %}
                        <input id="random-toggle" type="checkbox" {{'checked' if random_enabled else ''}} data-toggle="toggle" data-on="Random" data-off="All">
                        {% endif %}
                        <a href="/search" class="lineawesomelink px-1"><i class="las la-search la-5x"></i></a>
                        <a href="/admin" class="lineawesomelink"><i class="las la-tools la-5x"></i></a>
                    </div>
                </div>
            </div>
        </div>

        {# main content #}
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        {# Remote control footer (two variants: one for 'there is something playing', one for 'player is idle' #}
        <div id="footer_nothing_playing" class="w-100 fixed-bottom footer"></div>
        <div id="footer_playing" class="d-flex w-100 fixed-bottom justify-content-evenly footer d-none">
            {# left #}
            <div class="my-auto position-relative">
                <div class="my-auto d-flex flex-nowrap">
                    <div class="my-auto">
                        <div id="now_playing_artwork_padding" class="my-auto mx-3 footer-artwork-padding"></div>
                        <a id="now_playing_album_link" class="stretched-link" href="#"><img id="now_playing_artwork" class="my-auto img-fluid d-none mx-3 footer-artwork"></a>
                    </div>

                    <div class="my-auto">
                        <div id="now_playing_artist" class="fs-2"></div>
                        <div id="now_playing_track" class="fs-3"></div>
                    </div>
                </div>
            </div>

            {# right #}
            <div class="my-auto d-flex flex-nowrap">
                <button type="button" id="now_playing_pause" class="btn mx-3 d-none border-0" onclick="sendPause()">
                    <i class="las la-pause la-6x la-fw footer-button"></i>
                </button>
                <button type="button" id="now_playing_resume" class="btn mx-3 d-none border-0" onclick="sendResume()">
                    <i class="las la-play la-6x la-fw footer-button"></i>
                </button>
            </div>
        </div>

        {# Local playback footer (audio controls) #}
        <div id="footer-local-playback" class="d-flex w-100 fixed-bottom justify-content-evenly footer {{'d-none' if remote_mode_enabled else ''}}">
            {# centre #}
            <div class="my-auto d-flex flex-nowrap">
                <button type="button" id="local-previous" class="btn mx-3 d-none border-0" onclick="localPrevious()">
                    <i class="las la-step-backward la-6x la-fw footer-button"></i>
                </button>
                <i id="local-fetching" class="las la-hourglass-half la-6x la-fw footer-button mx-3 d-none border-0" aria-hidden="true"></i>
                <button type="button" id="local-pause" class="btn mx-3 d-none border-0" onclick="localPause(true)">
                    <i class="las la-pause la-6x la-fw footer-button" aria-hidden="true"></i>
                </button>
                <button type="button" id="local-resume" class="btn mx-3 d-none border-0" onclick="localResume()">
                    <i class="las la-play la-6x la-fw footer-button" aria-hidden="true"></i>
                </button>
                <button type="button" id="local-next" class="btn mx-3 d-none border-0" onclick="localNext()">
                    <i class="las la-step-forward la-6x la-fw footer-button"></i>
                </button>
            </div>
        </div>
    </body>
</html>
