{% set header_links=[("/", "PiJu"), ("/genre/"+genre_name, genre_name)] %}
{% set title=genre_name %}
{% extends "base.html" %}

{% block content %}
<div class="d-block position-relative my-1">
    <div id="loading-indicator-parent" class="w-100 fullscreen-content">
        <div class="d-flex position-absolute top-50 start-50 translate-middle">
            <div class="d-block">
                <div class="spinner-border d-block" role="status" style="width: 5rem; height: 5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="d-block text-center">
                    Loading...
                </div>
            </div>
        </div>
    </div>

    {# left #}
    <div class="d-inline-block d-none" id="genre-content">
    </div>

    {# right #}
    <div class="d-inline-block d-none" id="anchor-parent">
        <div class="position-fixed" style="width: 1em; height: 100vh; right: 22vw; top: 96px;">
            <div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 96px - 128px);" id="anchor-content">
            </div>
        </div>
    </div>
</div>


{# The template for the anchor definition - in the actual contents #}
<template id="anchor-template">
    <a name="" style="scroll-margin-top: 80px;"></a>
</template>

{# The template for the rest of the album row #}
<template id="album-template">
    <div class="d-block div-row-hover py-2 align-middle">
        <div class="position-relative" style="width: 55vw">
            <div class="d-table-cell ps-3 pe-1 album-row align-middle" style="width: 128px">
                <img id="album-artwork" src="" class="img-fluid rounded float-left pr-4" width="100">
                <div id="artwork-spacer" class="d-inline-block" style="width: 100px; height: 100px"></div>
            </div>
            <div class="d-table-cell align-middle ps-2">
                <a id="album-href" class="stretched-link"></a><span id="album-year"></span>
            </div>
        </div>
    </div>
</template>

<script src="/static/genre.js"></script>
{% endblock %}
