{% set header_links=[("/", "PiJu"), ("/genre/"+genre_name, genre_name)] %}
{% extends "base.html" %}

{% block content %}
<div class="d-block position-relative my-1">
    <div id="loading-indicator-parent" class="w-100 fullscreen-content">
        <div class="d-flex position-absolute top-50 start-50 translate-middle">
            <div class="d-block">
                <div class="spinner-border d-block" role="status" style="width: 5rem; height: 5rem;">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="d-block text-center">
                    Loading...
                </div>
            </div>
        </div>
    </div>

    {# left #}
    <div class="d-inline-block d-none" id="genre-content">
    </div>

    {# right #}
    <div class="d-inline-block d-none" id="anchor-parent">
        <div class="position-fixed" style="width: 1em; height: 100vh; right: 22vw; top: 96px;">
            <div class="d-flex flex-column justify-content-between" style="height: calc(100vh - 96px - 128px);" id="anchor-content">
            </div>
        </div>
    </div>
</div>

<script src="/static/genre.js"></script>
{% endblock %}
