{% set header_links=[("/", "PiJu"), ("/playlists", "Playlists")] %}
{% set title="Playlists" %}
{% extends "base.html" %}

{% block content %}
<div class="d-block position-relative my-1">
  {% for playlist in playlists %}
  <div class="d-block div-row-hover py-2 align-middle">
    <div class="position-relative" style="width: 55vw">
        <div class="d-table-cell ps-3 pe-1 album-row">
            <div class="d-inline-block align-middle" style="width: 100px; height: 100px"></div>
        </div>
        <div class="d-table-cell align-middle ps-2">
            <a href="/playlists/{{playlist.id}}" class="stretched-link">{{playlist.title}}</a>
        </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
