{% set header_links=[("/", "PiJu"), ("/playlists", "Playlists")] %}
{% extends "base.html" %}

{% block content %}
<div class="w-100 row">
    <div class="col align-middle my-auto">
        <h2 class="display-2">{{playlist.title}}</h2>
    </div>
</div>
<div class="d-block position-relative my-1">
    {% for track_index, track in enumerate(playlist.tracks, start=1) %}
    <div class="d-block position-relative div-row-hover py-2 align-middle {{loop.cycle("table-row-odd", "table-row-even")}}" id="track_{{track.id}}">
        <div class="d-inline-block position-relative" style="width: calc(100% - 60px)">
            <div class="d-inline-block" style="width: 0px;">
                <button onclick='playPlaylist("{{playlist.id}}", "{{track.id}}", {{loop.index0}})' class="stretched-link btn btn-link"></button>
            </div>
            <div class="d-inline align-middle mx-1">
                {{track_index}}
            </div>
            <div class="d-inline align-middle ms-2">
                {{track.title}}
            </div>
        </div>
        <div class="d-inline-block position-absolute top-50 end-0 translate-middle-y text-body" style="width: 48px">
            <button type="button" id="now_playing_pause" class="btn border-0 mx-auto" onclick="alert('add to queue')">
                <i class="las la-plus"></i>
            </button>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    playlistTrackIds = [{{ playlist.tracks | map(attribute="id") | join(',')}}];
    playlistTrackIds = playlistTrackIds.map(x => x.toString());
</script>
{% endblock %}
