{% set header_links=[("/", "PiJu")] +
                    [("/queue/", "Queue")] %}
{% set title="PiJu Queue" %}
{% extends "base.html" %}

{% block content %}
<div id="loading-indicator-parent" class="w-100 fullscreen-content">
    <div class="d-flex position-absolute top-50 start-50 translate-middle">
        <div class="d-block">
            <div class="spinner-border d-block" role="status" style="width: 5rem; height: 5rem;">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="d-block text-center">
                Loading...
            </div>
        </div>
    </div>
</div>

<div class="position-absolute single-content-position w-50 d-none" id="empty-queue">
    <div class="alert alert-secondary text-center shadow">
        <i class="las la-info-circle float-start"></i>
        <em>Queue is empty</em>
        <i class="las la-info-circle float-end invisible"></i>  {# An invisible element to ensure the text is centred #}
    </div>
</div>
<div id="queue-parent" class="d-block position-relative my-1">
</div>

<template id="item-template">
    <div class="d-block py-2 div-row-hover"> {#- plus table-row-odd or table-row-even -#}
        <div class="d-block album-row position-relative align-middle">
            {#- left section: the artwork / drag handle -#}
            <div class="d-inline-block position-absolute top-50 start-0 translate-middle-y text-body">
                <div class="d-table-cell ps-3 pe-1 align-middle" style="width: 128px">
                    <img id="artwork" src="" class="img-fluid rounded drag-handle pr-4" width="100">
                    <div id="artwork-pad" class="d-inline-flex drag-handle justify-content-center align-items-center" style="width: 100px; height: 100px;"><i class="las la-grip-lines"></i></div>
                </div>
            </div>
            {#- centre section: the (stretched) button to play the track, the queue index, and the artist and track title -#}
            <div class="d-inline-flex position-relative align-items-center h-100" style="width: 55vw; left: 144px;">
                <div class="d-inline-block" style="width: 0px;">
                    <button id="play-button" class="stretched-link btn btn-link" onclick="playQueueItemButtonHandler(event)"></button>
                </div>
                <div class="d-inline-flex align-items-center ms-2 h-100" id="track-title">
                    ARTIST: TITLE
                </div>
            </div>
            {#- right side: the 'delete' icon to remove from queue -#}
            <div class="d-inline-block position-absolute top-50 end-0 translate-middle-y text-body" style="width: 60px">
                <button type="button" id="remove-button" class="btn border-0 mx-auto queue-button" onclick="removeQueueItemButtonHandler(event)">
                    <i class="las la-trash-alt la-2x"></i>
                </button>
            </div>
        </div>
    </div>
</template>

<script defer src="/static/ext/js/Sortable.min.js"></script>
<script defer src="/static/queue.js"></script>
{% endblock %}
