{% set header_links=[("/", "PiJu"), ("/radio", "Radio")] %}
{% extends "base.html" %}

{% block content %}
<div class="d-block position-relative my-1">
    {% for station in stations %}
    <div class="d-block div-row-hover py-2 align-middle">
        <div class="position-relative" style="width: 55vw">
            <div class="d-table-cell ps-3 pe-1 album-row">
                {% if station.artwork %}
                    <img id="album-artwork" src="{{station.artwork}}" class="img-fluid rounded float-left pr-4" width="100">
                {% else %}
                    <div class="d-inline-block align-middle" style="width: 100px; height: 100px"></div>
                {% endif %}
            </div>
            <div class="d-table-cell align-middle ps-2">
                <button onclick='playRadio("{{station.id}}")' class="stretched-link btn btn-link ps-0 pe-0"></button>
                {{station.name}}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
