{% set header_links=[("/", "PiJu"), ("/youtube", "YouTube")] %}
{% extends "base.html" %}

{% block content %}
<form action="/youtube" method="post">
    <div class="w-100 my-2">
        <input type="url" id="url" name="url" maxlength="100" autofocus class="w-100">
    </div>
    <div class="w-100 d-flex justify-content-evenly">
        <button type="submit" class="btn btn-secondary" id="queue" name="queue">Add to queue</button>
        <button type="submit" class="btn btn-primary" id="play" name="play">Play</button>
    </div>
</form>

<div class="d-block position-relative my-1">
    <div id="downloading-indicator-parent" class="w-100 fullscreen-content d-none">
        <div class="d-flex position-absolute translate-middle single-content-position">
            <div class="d-block">
                <div class="spinner-border d-block" role="status" style="width: 5rem; height: 5rem;">
                    <span class="visually-hidden">Fetching...</span>
                </div>
                <div class="d-block text-center mt-3">
                    Fetching...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
