// Constants
$header-height: 86px
$footer-height: 128px
$album-row-height: 100px

// Configurable parameters
$headerfooter-background: #000 !default
$headerfooter-foreground: #000 !default
$searchresult-background: #000 !default
$table-hover-background: #000 !default
$table-background-odd: #000 !default
$table-background-even: #000 !default

// Expose constants to JS
:root
    --header-height: #{$header-height}
    --footer-height: #{$footer-height}
    --album-row-height: #{$album-row-height}

.search-result
    background-color: $searchresult-background
    font-weight: bold

.active-track
    color: red
    font-weight: bold

body
    padding-bottom: $footer-height

.fullscreen-content
    height: calc(100vh - $header-height - $footer-height)

.header
    height: $header-height
    background-color: $headerfooter-background
    color: $headerfooter-foreground

.footer
    height: $footer-height
    background-color: $headerfooter-background
    color: $headerfooter-foreground

%footer-artwork-shared
    width: 100px
    height: 100px

.footer-artwork
    @extend %footer-artwork-shared

.footer-artwork-padding
    @extend %footer-artwork-shared
    background-color: lightslategrey

.footer-button
    color: $headerfooter-foreground

button.undecorated
    background-color: inherit
    border: none

.queue-button:active i
    color: red
    padding-top: 8px
    margin-left: 2px

.album-row
    height: $album-row-height

.single-content-position
    top: 38.2%
    left: 50%
    transform: translate(-50%, -50%)

// tables
.table-artwork-and-description td
    padding-top: 8px
    padding-bottom: 8px

// TODO: Rename this class - it's not just applied to divs
.div-row-hover:hover
    background-color: $table-hover-background !important

.div-row-hover:hover a
    color: var(--bs-link-hover-color) !important

.table-artwork-and-description td:nth-of-type(1)
    padding-left: 12px
    padding-right: 12px
    width: 124px

.table-artwork-and-description tr:nth-child(odd)
    background-color: $table-background-odd

.table-artwork-and-description tr:nth-child(even)
    background-color: $table-background-even

.table-row-odd
    background-color: $table-background-odd

.table-row-even
    background-color: $table-background-even

.stretched-link, .stretched-link:focus, .stretched-link:hover, .stretched-link:active, .stretched-link:focus-visible
    outline: none
    border: none
    transition: none

// FontAwesome buttons
a.lineawesomelink, a.lineawesomelink:hover, a.lineawesomelink:visited, a.lineawesomelink:active
    color: inherit
    text-decoration: none


// Bootstrap Toggle missing styling
.toggle-handle, .toggle-handle:hover
    background-color: $headerfooter-foreground  !important

.toggle.btn-default
    border-color: $headerfooter-foreground  !important
    color: $headerfooter-foreground  !important


// Marquee for header
// based on https://www.hongkiat.com/blog/css3-animation-advanced-marquee/
%marquee
    overflow: hidden
    position: relative
    width: 100%
    margin-left: 2%
    margin-right: 2%
    margin-top: 5px

    div
        position: absolute
        min-width: 100%
        height: 100%
        margin: 0
        transform: translateX(100%)
        white-space: nowrap
        text-align: center

.marquee-1elt
    margin-top: 5px

@import marquee.sass
